#countdownContainer {
    
    padding: 4px;
    border: 12px solid;
  
    
}

#countdown {
    font-weight: bold;
    text-decoration: #ec5d33 underline;
}
p {

    text-align: center;
    font-size: 40px;
  
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
  }

 @media only screen and (max-width: 992px) {
    p {
        font-size: 15px;  
      }

      #countdownContainer {
    
        padding: 2px;
        border: 5px solid;
      
        
    }
    
  }
  
