#countdownContainer {
    
    padding: 0px;
    border: 0px;
  
    
}

#countdown {
    font-weight: bold;
    text-decoration: rgb(250, 79, 7) underline;
}
p {

    text-align: center;
    font-size: 3.8em;
  
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
  }

 @media only screen and (max-width: 992px) {
    p {
        font-size: 2em;  
      }

      #countdownContainer {
    
        padding: 0px;
      
        
    }
    
  }
  
